/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

@media (min-width: 980px){
  body{
    padding-top: 50px;
  }
}

h1{
  font-size: 20px;
}

a.btn-success, a.btn-danger{
  &, &:visited{
    color: white;
  }
}

.navbar-inner{
  background: #89ad3f;
  border: 0px;
}
