/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require_self
 *= require_tree .
 */

body{
  padding-top: 50px;
}

h1{
  font-size: 20px;
}

a.btn-success, a.btn-danger{
  &, &:visited{
    color: white;
  }
}
