#github-ribbon{
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body#home{
  background: #eaf3da;
  padding-top: 0;

  .banner{
    background-color: #eaf3da;
    background-image: image-url('bg.png');
    min-height: 280px;
  }

  .logo{
    text-align: center;
    margin-top: 50px;
  }

  .text-center{
    text-align: center;
  }

  .hero-unit{
    background-color: transparent;
  }
  .hero-unit h1{
    color: #676767;
    font-size: 80px;
    line-height: 80px;
    word-wrap: break-word;
  }

  .hero-unit p{
    color: #89ad3f;
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
  }

  .cta{
    background: #89ad3f;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px;
    min-height: 80px;
    padding-top: 15px;
    width: 100%;
  }

  .btn-large{
    background: white;
    color: #a1c33a;
    line-height: 40px;
    &:hover, &:focus{
      background: #a1c33a;
      color: #FFF;
    }
  }
}
