// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-inner .btn{
  margin-left: 10px;
  margin-right: 10px;
}

#remaining_points{
  position: relative;
  top: 4px;
  font-weight: bold;
}
